<% @tasks.each do |task| %>
  <h2>Title: <%= task.title %></h2>
  <p><%= task.details %></p>
  <p><%= link_to "Details", banana_path(task)%></p>
<% end %>

  <p><%= link_to "Add Task", tasks_new_path %></p>


